*, *:before, *:after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

html {
  background-color: var(--color--background) !important;
}

body {
  margin: auto;
  max-width: 32 * $line-height;
  opacity: 0;
  padding: var(--line-height);
  display: flex;
  justify-content: center;
  flex-direction: column;

  &.loaded {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}
